 <div class="user-details">
  <h1> About </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Contact</h2>
           <p><a href='https://citysec.disobey.fi/citysec/channels/citysec--kuosec'>Mattermost CitySec: KuoSec</a></p>
           <p>Email: info[at]kuosec.fi</p>
           <p>Twitter: @kuo_sec</p>
           <p>LinkedIn: <a href="https://www.linkedin.com/company/kuosec">https://www.linkedin.com/company/kuosec</a></p>
           <p>Discord: <a href="https://discord.gg/g5zSkY5fcS">https://discord.gg/g5zSkY5fcS</a></p>
    </div>
    <div class="tech">
      <h2>Sponsors</h2>
      <p>Interested in sponsoring our meetups?</p>
      <p>You can contact us via email, Twitter, LinkedIn or our Mattermost-channel.</p>
    </div>
</div>
