<div class="user-details">
  <h1> Upcoming Events </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> January madness </h3>
    <ul>
      <li> 29th of January 2020</li>
    </ul>
    <p>First ever meetup at Kuopio to get the ball running. More info coming soon!</p>
    <!--
    <a class="project-link" href="#">Check it out</a>
    -->
  </div>
</div>
