<div class="user-details">
  <h1> Events </h1>
</div>
<!--
<div class="user-projects">
  <div class="images-right">
    <img alt="rdvelho" src="{{ "/assets/img/rdvelho.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> PAST EVENT: First meetup </h3>
    <h4> 29th of January 2020 at Puikkari 17.30 - 20.00 </h4>
    <p> Welcome to the KuoSec first meetup! Meetup will be hosted at Original Sokos Hotel Puijonsarvi (Minna Canthin katu 16, Kuopio). We will have two awesome speakers from the infosec field. This event is sponsored by RD Velho. Please note, that there is only 30 seats available. <br>

    <br> 17.30 – Doors open
    <br> 17.45 – Word by KuoSec 
    <br> 18.00 – Welcome by RD Velho
    <br> 18.15 – Keynote – Classic Buffer Overflow Exploits by Tero
    <br> 19.00 – Break & Stuff
    <br> 19.15 – Keynote – Honeybots!! by Jouni
    <br> 19.45 – Farewell words by KuoSec
    <br> 20.00 – Doors close

    <p> Unofficial after party & networking (place will be announced at the event.) </p>
    <p> Speaker bio:
    <p> Tero Korhonen - Senior Security Analyst at Istekki <br>
    <p> Jouni Ihanus - Senior Consultant at RD Velho </p>
    <a class="project-link" href="http://ilmoittautuminen.kuosec.fi">Register here!</a>
    
  </div>
</div>
-->