<div class="user-details">
  <h1>On-going competitions</h1>
  <div class="event">
    <h2>KuoSec ry Sticker design competition</h2>
    <p>Place: KuoSec ry Discord - #kilpailut channel</p>
    <p>For non-Discord users: Contact us by email.</p>
  
    <table>
      <caption>Schedule</caption>
      <thead>
        <tr>
          <th scope="col">Time</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>14.11.2023 - 11:00</td>
          <td>Competition announced</td>
        </tr>
        <tr>
          <td>30.11.2023 - 23:59</td>
          <td>Submissions close</td>
        </tr>
        <tr>
          <td>2.12.2023 23:59</td>
          <td>Voting ends</td>
        </tr>
        <tr>
          <td>3.12.2023</td>
          <td>Winner will be announced.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <br>
  <br>
  
  <h1>Upcoming Events </h1>
<!-- Current unsorted event history (:-->
  <div class="event">
    <h2>KuoSec Community Meetup - November 2023</h2>
    <p>Venue: Malja - The beer and wine restaurant</p>
    <p>Address: Kauppakatu 29, 70100 Kuopio, Finland</p>
    <p>Date: 22.11.2023</p>

    <table>
      <caption>Schedule & Topics:</caption>
      <thead>
        <tr>
          <th scope="col">Time</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>18:00</td>
          <td>Doors open</td>
        </tr>
        <tr>
          <td scope="row">18:15</td>
          <td>Welcome speech & community news</td>
        </tr>
        <tr>
          <td scope="row">18:30</td>
          <td>Secret speaker: A typical incident response case</td>
        </tr>
        <tr>
          <td scope="row">19:30</td>
          <td>Free networking</td>
        </tr>
        <tr>
          <td scope="row">02:00</td>
          <td>Venue doors close</td>
        </tr>
      </tbody>
    </table>
    <p>Note that the schedules are estimates.</p>
    <p>Registration: Not required</p>

    <a href="http://www.malja.fi/">Website of the venue</a>
  </div>

<!--
    <div class="event">
      <h2>KuoSec Community Meetup - October 2023</h2>
      <p>Venue: Malja - The beer and wine restaurant</p>
      <p>Address: Kauppakatu 29, 70100 Kuopio, Finland</p>
      <p>Date: 18.10.2023</p>

      <table>
        <caption>Schedule & Topics:</caption>
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>18:00</td>
            <td>Doors open</td>
          </tr>
          <tr>
            <td scope="row">18:15</td>
            <td>Welcome speech & community news</td>
          </tr>
          <tr>
            <td scope="row">18:30</td>
            <td>Jarkko Kinnunen: The 2023 Microsoft Digital Defense Report</td>
          </tr>
          <tr>
            <td scope="row">19:15</td>
            <td>Break</td>
          </tr>
          <tr>
            <td scope="row">19:30</td>
            <td>Secret speaker: Is your bank card safe? An introduction to RFID/NFC hacking</td>
          </tr>
          <tr>
            <td scope="row">20:15</td>
            <td>Free networking & planning for upcoming events</td>
          </tr>
          <tr>
            <td scope="row">02:00</td>
            <td>Venue doors close</td>
          </tr>
        </tbody>
      </table>
      <p>Note that the schedules are estimates.</p>
      <p>Registration: Not required</p>

      <a href="http://www.malja.fi/">Website of the venue</a>
    </div>
  -->
  <!--  
  <div class="event">
    <h2>KuoSec Community Meetup - September 2023</h2>
    <p>Venue: Malja - The beer and wine restaurant</p>
    <p>Address: Kauppakatu 29, 70100 Kuopio, Finland</p>
    <p>Date: 20.9.2023</p>

    <table>
      <caption>Schedule & Topics:</caption>
      <thead>
        <tr>
          <th scope="col">Time</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>18:00</td>
          <td>Doors open</td>
        </tr>
        <tr>
          <td scope="row">18:15</td>
          <td>Welcome speech & community news</td>
        </tr>
        <tr>
          <td scope="row">18:30</td>
          <td>Petri Turunen: Malware lab presentation</td>
        </tr>
        <tr>
          <td scope="row">19:15</td>
          <td>Break</td>
        </tr>
        <tr>
          <td scope="row">19:30</td>
          <td>OSINT presentation</td>
        </tr>
        <tr>
          <td scope="row">20:15</td>
          <td>Free networking & planning for upcoming events</td>
        </tr>
        <tr>
          <td scope="row">02:00</td>
          <td>Venue doors close</td>
        </tr>
      </tbody>
    </table>
    <p>Note that the schedules are estimates.</p>
    <p>Registration: Not required</p>
    
    <a href="http://www.malja.fi/">Website of the venue</a>
  </div>
  -->

  <!--
  <div class="event">
    <h2>KuoSec Community Meetup - August 2023</h2>
    <p>16.8.2023 - KuoSec Cyber Quiz & Locksporting/Lockpicking @ Malja</p>
  </div>
  <div class="event">
    <h2>KuoSec Community Meetup - July 2023</h2>
    <p>26.7.2023 - Physical security topics & Locksporting/Lockpicking @ Malja</p>
  </div>
  <div class="event">
    <h2>KuoSec Community Meetup - June 2023</h2>
    <p>21.6.2023 - KuoSec Cyber Mölkky Day</p>
  </div>
  -->

  <!--
  <div class="event">
    <h2>KuoSec Event - SavoSec 2023</h2>
    <p>Venue: Kuopio, KPY Novapolis CoWork</p>
    <p>Date: 10.5.2023</p>
    <p>More info can be found on the event website: <a href="https://savosec.fi">savosec.fi</a></p>
  </div>
  -->

  <!--
    <div class="event">
    <h2>KuoSec Community Meetup - April 2023</h2>
    <p>Venue: Malja - The beer and wine restaurant</p>
    <p>Address: Kauppakatu 29, 70100 Kuopio, Finland</p>
    <p>Date: 19.4.2023</p>

    <table>
      <caption>Schedule & Topics:</caption>
      <thead>
        <tr>
          <th scope="col">Time</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>18:00</td>
          <td>Doors open</td>
        </tr>
        <tr>
          <td scope="row">18:15</td>
          <td>Welcome speech & community news</td>
        </tr>
        <tr>
          <td scope="row">18:30</td>
          <td>Mikko Pietiläinen, Enfo Oyj: Tavoitteista tekemiseen - Miten tavoitteet ohjaavat tietoturvallisuutta organisaatiossa</td>
        </tr>
        <tr>
          <td scope="row">19:15</td>
          <td>Break</td>
        </tr>
        <tr>
          <td scope="row">19:30</td>
          <td>Petri Turunen: Mikä hunajapurkki?</td>
        </tr>
        <tr>
          <td scope="row">20:15</td>
          <td>Free networking</td>
        </tr>
        <tr>
          <td scope="row">02:00</td>
          <td>Venue doors close</td>
        </tr>
      </tbody>
    </table>
    <p>Note that the schedules are just estimates.</p>
    <p>Registration: Not required</p>



    <a href="http://www.malja.fi/">Website of the venue</a>
  </div>
  -->

  <!--
    <div class="event">
    <h2>KuoSec Community Meetup - March 2023</h2>
    <p>Venue: Malja - The beer and wine restaurant</p>
    <p>Address: Kauppakatu 29, 70100 Kuopio, Finland</p>
    <p>Date: 8.3.2023</p>

    <table>
      <caption>Schedule & Topics:</caption>
      <thead>
        <tr>
          <th scope="col">Time</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>18:00</td>
          <td>Doors open</td>
        </tr>
        <tr>
          <td scope="row">18:15</td>
          <td>Welcome speech & community news</td>
        </tr>
        <tr>
          <td scope="row">18:30</td>
          <td>Introduction of local FOSS (Free and Open-Source Software) community</td>
        </tr>
        <tr>
          <td scope="row">19:00</td>
          <td>Break</td>
        </tr>
        <tr>
          <td scope="row">19:15</td>
          <td>Jarkko Laine: Networking-Networking-Networking</td>
        </tr>
        <tr>
          <td scope="row">20:00</td>
          <td>Free networking</td>
        </tr>
        <tr>
          <td scope="row">02:00</td>
          <td>Venue doors close</td>
        </tr>
      </tbody>
    </table>
    <p>Note that the schedules are just estimates.</p>
    <p>Registration: Not required</p>



    <a href="http://www.malja.fi/">Website of the venue</a>
  </div>
  -->

  <!--
  <div class="event">
    <h2>KuoSec Community Meetup - January 2023</h2>
    <p>Venue: Malja - The beer and wine restaurant</p>
    <p>Address: Kauppakatu 29, 70100 Kuopio, Finland</p>
    <p>Date: 18.1.2023</p>

    <table>
      <caption>Schedule & Topics:</caption>
      <thead>
        <tr>
          <th scope="col">Time</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>18:00</td>
          <td>Doors open</td>
        </tr>
        <tr>
          <td scope="row">18:15</td>
          <td>Welcome speech & community news</td>
        </tr>
        <tr>
          <td scope="row">18:30</td>
          <td>Jarkko Kinnunen: Microsoft Digital Defense Report 2022</td>
        </tr>
        <tr>
          <td scope="row">19:15</td>
          <td>Break</td>
        </tr>
        <tr>
          <td scope="row">19:30</td>
          <td>Secret speaker: Welcome to Cyber - Career tips for future cybersecurity professionals</td>
        </tr>
        <tr>
          <td scope="row">20:15</td>
          <td>Free networking</td>
        </tr>
        <tr>
          <td scope="row">02:00</td>
          <td>Venue doors close</td>
        </tr>
      </tbody>
    </table>
    <p>Note that the schedules are just estimates.</p>
    <p>Registration: Not required</p>



    <a href="http://www.malja.fi/">Website of the venue</a>
  </div>
  -->
</div>